<section>
    <div class="contenido">
        <div class="texto">
            <h2 class="font-black text-4xl text-black mb-10">DE QUE SE TRATA MOVIMINETO JUVENIL?</h2>
            <p class="font-light text-black text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In itaque exercitationem quae quas culpa, enim deserunt laboriosam consequuntur fugiat laudantium molestias, veniam ullam tempora velit odit sapiente nihil iure repellat.</p>
        </div>
    </div>
    <div class="imagen">
        <img src="https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg" alt="">
    </div>
</section>
<style>
    @media (min-width: 1080px){
        section{
        display: flex;
        height: 90vh;
        overflow: hidden;
    }
    .contenido{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texto{
        width: 60%;
    }
    p{
        font-size: 20px;
    }
    .imagen{
        width: 50%;
        height: 100%;
    }
    img{
        width: 100%;
        height: auto;
    }
    }
</style>