---
import Cartas from './Cartas.astro';
import CartasRevez from './CartasRevez.astro';
---
<section class="bg-white" id="actividades">
    <Cartas
        titulo = 'ALTAR'
        texto = 'Nos encargamos de preparar y mantener el espacio sagrado para la adoración y las celebraciones. Sumate a nuestro equipo y ayudanos a crear un ambiente que inspire reverencia y comunidad. ¡Te esperamos con entusiasmo!'
        img = 'https://scontent.fmdq3-1.fna.fbcdn.net/v/t39.30808-6/448098599_777134681270995_6974970279161355706_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Pky4pBnF9i8Q7kNvgF2Ejok&_nc_ht=scontent.fmdq3-1.fna&oh=00_AYDi8rjlqCBEilpjCRXv02Fcp5IbnK6Uca75g1pn5XC9HA&oe=6674A099'
        alt = 'Alabando y adorando a Dios'
        href = '/altar'
        />
        <CartasRevez
        titulo = 'EVANGELISMO'
        texto = 'Nos dedicamos a compartir la Buena Nueva y a llevar el mensaje de esperanza a todos los rincones. Sumate a nuestras campañas, charlas y actividades de alcance comunitario. ¡Tu participación hace la diferencia!'
        img = 'https://scontent.fmdq3-1.fna.fbcdn.net/v/t39.30808-6/405366071_25026399203641155_843779641051806328_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=TT6BGUr-B0QQ7kNvgHPTARN&_nc_ht=scontent.fmdq3-1.fna&oh=00_AYCaoKUj55KOgmbzfNRsI_qKRoU1yA5X2jZWnNORPCI_pw&oe=666E734C'
        alt = 'Ayudando a personas que necesitan de Dios'
        href = 'evangelismo'
        />
        <Cartas
        titulo = 'JOVENES'
        texto = 'Acá vas a encontrar un espacio para crecer en tu fe, hacer nuevos amigos y servir a la comunidad. Sumate a nuestras actividades semanales, retiros espirituales y proyectos de servicio. ¡Te esperamos con los brazos abiertos!'
        img = 'https://scontent.fmdq3-1.fna.fbcdn.net/v/t39.30808-6/424926643_7212180642199176_2995834662221754224_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=YmwhsC6UqNAQ7kNvgENH-dd&_nc_ht=scontent.fmdq3-1.fna&oh=00_AYB5YE48mccKaFz_JeTWRK0ZPfKY8vhWnoBhRNJ_a94ioA&oe=6674BDC7'
        alt = 'Fiesta de jovenes en Cristo'
        href='/jovenes'
        />
        <CartasRevez
        titulo = 'DANZA'
        texto = 'Acá combinamos la pasión por la danza con la adoración. Sumate a nuestras prácticas y presentaciones, y expresá tu fe a través del movimiento. No importa tu experiencia, ¡todos son bienvenidos!'
        img = 'https://scontent.fmdq3-1.fna.fbcdn.net/v/t39.30808-6/447975457_777134907937639_7553872685813715729_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=VXjjPYuY7TcQ7kNvgHPYzmU&_nc_ht=scontent.fmdq3-1.fna&oh=00_AYAxrcBJLLAiuvyMJ9e6CHmaFh1bMJeD-YcV5zenFqOGAA&oe=6674BAEC'
        alt = 'Danzando para Dios'
        href = 'danza'
        />
</section>
<style>

</style>