---
import {Image} from 'astro:assets';

import Imagen1 from '../img/1.jpg'
import Imagen2 from '../img/1.jpg'
import Imagen3 from '../img/1.jpg'

---
 
<section class="flex items-center flex-col">
    <h1 class="font-black text-4xl">ACTIVIDADES</h1>

    <div class="carrusel">
        
    </div>
</section>

<style>
    section{
        height: 80vh;
    }
</style>