<section class="flex flex-col justify-center items-center" id="bienvenido">
    <div class="contenido">
        <h1 class="font-black text-5xl mb-10 text-black text-center">BIENVENIDO A FARES!</h1>

        <h3 class="font-bold text-2xl mb-10 text-black text-center horarios">Miercoles 19:00 PM & Domingos 18:00 PM</h3>
        
        <h3 class="font-bold text-l text-red-500 text-center">NUEVA LOCACION</h3>
        <h3 class="font-bold text-l mb-10 text-black text-center" style="width: 280px; margin: auto; margin-top: 25px;">Av. Fortunato de la Plaza 2700, Mar del Plaa, Buenos Aires, Argentina.</h3>
    </div>
</section>
<style>
    section{
        height: auto;
        padding: 100px 0px;
    }

    .horarios{
        width: 400px;
        margin: auto;
        margin-bottom: 30px;
    }
    
    @media (min-width: 1080px){

        h1{
            animation-duration: 1.4s;
		    animation-name: slidein;
		    animation-delay: 0.5s;
        }

        .horarios{
            width: 600px;
        }

		@keyframes slidein {
		from {
			left: -800px;
		}

		to {
			left: 0px;
		}
		}
    }
</style>