<section class="flex flex-col justify-center items-center py-20 px-10">
    <h1 class="font-black text-4xl text-center text-black">QUE ESTA PASANDO EN FARES?</h1>

    <p class="text-black mt-10 text-light">No hay próximos eventos destacados.</p>
</section>
<style>
    section{
        background-color: #AFD206;
    }
</style>