<section class="flex flex-col justify-center items-center py-20 px-10" id="eventos">
    <h2 class="font-black text-center text-black">QUE ESTA PASANDO EN FARES?</h1>

    <p class="text-black mt-10 text-light">No hay próximos eventos destacados.</p>
</section>
<style>
    section{
        background-color: rgb(245, 245, 237);
    }
    h2{
        font-size: 40px;
        line-height: 40px;
    }
</style>