---
import {Image} from 'astro:assets';
import Logo from '../img/Fares-logo.png';
import X from '../img/x.svg';
---
<script>
  const boton = document.getElementById('boton');
  const contenido = document.getElementById('contenido');
  const enlace = document.querySelectorAll('.enlace');
  
  function Desplegar(){
    if(contenido.classList.contains("desplegado")){
      contenido.classList.remove('desplegado');
    }
    else{
      contenido.classList.add('desplegado');
    }
  }
  enlace.forEach(function(elemento) {
    elemento.addEventListener('click', function() {
      contenido.classList.remove('desplegado');
    });
});

  boton.addEventListener('click',Desplegar);
</script>

<header>
    <div class="logo" id="logo">
      <a href="#inicio"><Image src={Logo} alt='Logo de Fares'></Image></a>
    </div>

    <div class="flex items-center contenido" id="contenido">
      <nav>
        <ul>
          <li><a href="#inicio" class="enlace">Inicio</a></li>
          <li><a href="#ultimapredica" class="enlace">Ultima Predica</a></li>
          <li><a href="#eventos" class="enlace">Eventos</a></li>
          <li><a href="#actividades" class="enlace">Actividades</a></li>
          <li><a href="#nuestrospastores" class="enlace">Nuestros Pastores</a></li>
          <li><a href="#ubicacion" class="enlace">Ubicacion</a></li>
          <li><a href="#contacto" class="enlace">Contacto</a></li>
          <li><a href="#dar" class="enlace">Dar</a></li>
        </ul>
      </nav>
  
      <div class="redes mx-10">
        <a href="https://www.facebook.com/elpandiario"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0,0,256,256">
          <g fill="#0085ff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M25,3c-12.15,0 -22,9.85 -22,22c0,11.03 8.125,20.137 18.712,21.728v-15.897h-5.443v-5.783h5.443v-3.848c0,-6.371 3.104,-9.168 8.399,-9.168c2.536,0 3.877,0.188 4.512,0.274v5.048h-3.612c-2.248,0 -3.033,2.131 -3.033,4.533v3.161h6.588l-0.894,5.783h-5.694v15.944c10.738,-1.457 19.022,-10.638 19.022,-21.775c0,-12.15 -9.85,-22 -22,-22z"></path></g></g>
          </svg></a>
      </div>
    </div>


    <button id="boton">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 72 72">
        <path d="M56 48c2.209 0 4 1.791 4 4 0 2.209-1.791 4-4 4-1.202 0-38.798 0-40 0-2.209 0-4-1.791-4-4 0-2.209 1.791-4 4-4C17.202 48 54.798 48 56 48zM56 32c2.209 0 4 1.791 4 4 0 2.209-1.791 4-4 4-1.202 0-38.798 0-40 0-2.209 0-4-1.791-4-4 0-2.209 1.791-4 4-4C17.202 32 54.798 32 56 32zM56 16c2.209 0 4 1.791 4 4 0 2.209-1.791 4-4 4-1.202 0-38.798 0-40 0-2.209 0-4-1.791-4-4 0-2.209 1.791-4 4-4C17.202 16 54.798 16 56 16z"></path>
        </svg>
    </button>
</header>

<style>
  header{
    position: sticky;
    top: 0px;
    z-index: 6;
    display: flex;
    justify-content: space-around;
          
    animation: header-pegado linear both;
      animation-timeline: scroll(root);
      animation-range: 0 10px;
  }
  @keyframes header-pegado {
        to{
          background: rgb(255, 255, 255);
          height: 50px;
        }
    }
  button{
    display: block;
  }
  .contenido{
    display: none;
    right: -1000px;
    transition: ease 0.5s;
  }
  .logo{
    display: block;
    width: 60px;
    margin: 10px 0px;

    animation: logo-chico linear both;
      animation-timeline: scroll(root);
      animation-range: 0 10px;
  }
  @keyframes logo-chico {
        to{
          width: 40px;
          margin: 5px 0px;
        }
    }

  .desplegado{
    position: absolute;
    top: 80px;
    right: 0px;
    width: 100%;
    height: 92vh;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.938);
    transition: ease 0.5s;

    animation: acomodar-desplegado linear both;
      animation-timeline: scroll(root);
      animation-range: 0 10px;

    nav{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li{
      padding: 20px 0px;
    }

    li:hover{
      font-weight: bolder;
    }

    a{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      color: white;
    }

    .redes{
      margin-bottom: 40px;
      bottom: 0px;
    }
  }
  @keyframes acomodar-desplegado {
        to{
          top: 50px;
          width: 100%;
          height: 95vh;
        }
    }

  @media(min-width:1080px){
    header{
      position: sticky;
      top: 0px;
      z-index: 6;
      width: 100%;
      height: auto;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      
      animation: header-pegado linear both;
      animation-timeline: scroll(root);
      animation-range: 0 10px;
    }


    @keyframes header-pegado {
        to{
          background: rgba(0, 0, 0, 0.4);
          backdrop-filter: blur(5px);
          height: 50px;
        }
    }

    .contenido{
    display: flex;
    }

    .logo{
      display: block;
      width: 60px;
      margin: 10px 50px;
      animation: logo-grande linear both;
      animation-timeline: scroll(root);
      animation-range: 0 10px;
    }
    @keyframes logo-grande {
        to{
          width: 40px;
          margin: 0px 50px;
        }
    }
    
    
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    nav ul li a{
      color: white;
      font-size: 13px;
      padding: 10px 20px;
      border-radius: 10px;
      text-align: center;
    }
    a:hover{
      background-color: rgb(3, 3, 3);
      transform: all 0.5s;
    }
    svg{
      cursor: pointer;
    }
    button{
      display: none;
    }
  }
</style>