---
import VideoBackground from '../videos/VideoBackground.mp4'
---
<section class="" id="inicio">
    <div>
		<div class="texto z">
			<div class="titulo">
				<h1 class="text-white text-7xl font-light">BIENVENIDOS A <br><span class="color font-bold">FARES</span></h1>
				<p class="font font-extralight text-2xl text-center">Un lugar para la familia</p>	
			</div>
			<div class="boton">
				<h4>MIERCOLES 19:00 PM & DOMINGOS 18:00 PM</h4>
			</div>
		</div>
        
        <video muted loop autoplay>
            <source src={VideoBackground} type="video/mp4">
        </video>
        <div class="capa">

        </div>
    </div>
</section>

<style>
    .z{
		position: relative;
		z-index: 2;
	}

	section{
		height: 100vh;
		position: relative;
		padding: 0px 40px;
	}

	video{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.texto{
		animation: fadeInAnimation ease 5s;
		animation-delay: 0.2s;
    	animation-iteration-count: 1;
    	animation-fill-mode: forwards;
	}

	@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

	h1{
		font-size: 100px;
	}
	
	.color{
		color: #AFD206;
	}
	
	.capa{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.699);
	}

	@media (min-width: 1080px){

		section{
		height: 92vh;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0px 100px;
	}
		h1{
			text-align: center;
			width: 500px;
			font-size: 50px;
			animation-duration: 1.4s;
			animation-name: slidein;
			animation-delay: 0.5s;
		}

		span{
			font-size: 120px;
		}

		h4{
			width: 390px;
			margin: auto;
			margin-top: 50px;
			padding: 14px 0px;
			text-align: center;
			border: #AFD206 solid 1px ;
			font-size: 17px;
		}
		
	}
</style>
