---
---

<section class="py-20 px-10 flex flex-col justify-center items-center" id="nuestrospastores">
    <div class="texto">
        <h1 class="font-black text-4xl text-center text-black">CONOCE A NUESTROS PASTORES</h1>
        <h3 class="font-bold text-xl text-center text-black">LUIS MANSILLA Y MAGALI JOHNSON</h3>

        <p class="font-light text-black">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A nisi tenetur unde dolorem! Quo obcaecati minima, corrupti assumenda rem a soluta. Vero, dicta. Dolorem facere iure ex ut, ratione enim?
            Eius atque, mollitia facilis dolorum asperiores dicta unde aliquid esse labore ipsa voluptatum officia recusandae soluta itaque totam quod neque maxime! In mollitia laborum voluptates rem dolorem, quas at magni.</p>
    </div>

    <div class="imagen">
        <img src="https://scontent.fmdq3-1.fna.fbcdn.net/v/t39.30808-6/327725923_881338483016515_5721634879161143505_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=hLvJxaSnOiEQ7kNvgE3a40I&_nc_ht=scontent.fmdq3-1.fna&oh=00_AYDWqEAJFKWiYH5dmuMXFSqUP6RFjbAa8_ojJfqYSBbAEQ&oe=665FF440" alt="">
    </div>


</section>

<style>
    section{
        height: auto;
        background-color: white;
    }
    .imagen{
        margin-right: 30px;
    }
    h1{
        margin-bottom: 15px;
    }
    p{
        margin: 40px;
        text-align: left;
    }
    img{
            width: 400px;
            height: 380px;
            border-radius: 100%;
        }
    @media (min-width: 1080px){
        section{
            display: flex;
            flex-direction: row-reverse;
            height: 100vh;
        }
        .texto h1{
            text-align: left;
        }
        .texto h3{
            text-align: left;

        }
        .texto p{
            width: 500px;
        }
        img{
            width: 500px;
            height: 500px;
            border-radius: 100%;
        }
    }
</style>