---
---

<section class="" id="nuestrospastores">
    <div class="texto">
        <h2 class="font-black text-4xl text-center text-black">CONOCE A NUESTROS PASTORES</h1>
        <h3 class="font-semibold text-xl text-center text-black">LUIS MANSILLA Y MAGALI JOHNSON</h3>

        <p class="font-light text-black">El Pastor Luis Mansilla y la Profeta Magali Johnson forman un equipo de liderazgo dinámico y comprometido en nuestra iglesia. Con más de 15 años de experiencia en el ministerio, el Pastor Luis es conocido por su enfoque pastoral y su dedicación a la enseñanza bíblica, trabajando incansablemente para fortalecer la fe y la unidad en nuestra comunidad.

            <br>La Profeta Magali, con su don profético y su pasión por el servicio, inspira y apoya espiritualmente a todos, ayudando a descubrir su propósito en Dios. Juntos, combinan sus talentos y su visión para guiar y nutrir a nuestra congregación, creando un ambiente de amor, respeto y crecimiento espiritual.</p>
    </div>
    <div class="imagen"></div>
</section>

<style>
    section{
        height: auto;
        background-color: white;
    }
    @media (min-width: 1080px){
        section{
            display: flex;
            height: 100vh;
            background-color: rgb(245, 245, 237);
        }
        .texto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
        }
        h2{
            font-size: 50px;
            margin-bottom: 20px;
            width: 600px;
            line-height: 50px;
        }
        h3{
            font-size: 30px;
        }
        p{
            margin-top: 70px;
            width: 600px;
            font-size: 20px;
        }
        .imagen{
            width: 50%;
            background-color: red;
        }
    }
</style>