---
import {Image} from 'astro:assets';

import Pastores from "../img/Pastores.png"
---

<section class="py-20 px-10 flex flex-col justify-center items-center">
    <h1 class="font-black text-4xl text-center mb-8 text-black">CONOCE A NUESTROS PASTORES</h1>
    <h3 class="font-bold text-xl text-center text-black">LUIS MANSILLA Y MAGALI JOHNSON</h3>

    <div class="mt-14 px-8">
        <div class="">
            <Image src={Pastores} alt='Pastores' class='imagen'>
       </div>
       <p class="font-light text-black" style="max-width: 400px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A nisi tenetur unde dolorem! Quo obcaecati minima, corrupti assumenda rem a soluta. Vero, dicta. Dolorem facere iure ex ut, ratione enim?
           Eius atque, mollitia facilis dolorum asperiores dicta unde aliquid esse labore ipsa voluptatum officia recusandae soluta itaque totam quod neque maxime! In mollitia laborum voluptates rem dolorem, quas at magni.</p>
    </div>

</section>

<style>
    section{
        height: auto;
        background-color: rgb(245, 245, 237);
    }
    .imagen{
        float: left;
        margin-right: 30px;
    }
</style>