<section class="flex justify-center items-center text-center flex-col">
    <h1 class="font-black text-4xl">MINISTERIO FARES</h1>
    <br>
    <h2 class="font-extrabold text-3xl color pb-4">Servicio Presencial:</h2>
    <h3 class="font-bold text-2xl">Miercoles 19:00 PM & Domingos 18:00 PM</h3>
    <p class="font-light pt-1 mb-10">(Hora de Argentina)</p>

    <div class="apiubi my-11 rounded-xl">

    </div>
</section>

<style>
    section{
        height: auto;
    }

    .apiubi{
        width: 370px;
        height: 370px;
        background-color: red;
    }

    .color{
        color: #00A5FA;
    }
    
    h3{
        width: 300px;
    }
</style>