header{
    width: 100%;
    height: 73px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Arial Black', sans-serif;
}
.menu-icon{
    font-size: 34px;
    color: white;
    cursor: pointer;
}
.color-menu{
    background-color: rgba(34, 255, 34, 0.80);
}
.menu-desplegado{
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(34, 255, 34, 0.80);
    color: white;
    font-weight: bold;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-desplegado li{
    width: 100%;
    padding: 20px;
    cursor: pointer;
}
.menu-desplegado li:hover{
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}