---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Bienvenido from '../components/Bienvenido.astro';
import Inicio from '../components/Inicio.astro';
import Ubicacion from '../components/Ubicacion.astro';
import UltimaPredica from '../components/UltimaPredica.astro';
import Actividades from '../components/Actividades.astro';
import Footer from '../components/Footer.astro'
import NuestrosPastores from '../components/NuestrosPastores.astro';
import Eventos from '../components/Eventos.astro';
---

<Layout>
	<main>
		<Header/>
		<Inicio/>
		<Actividades/>
		<Bienvenido/>
		<UltimaPredica/>
		<Eventos/>
		<NuestrosPastores/>
		<Ubicacion/>
		<Footer/>
	</main>
</Layout>

<style>
</style>
