---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Ubicacion from '../components/Ubicacion.astro'
import UltimaPredica from '../components/UltimaPredica.astro'
import Actividades from '../components/Actividades.astro'

import {Image} from 'astro:assets';
import FacebookIcon from '../img/facebook.png'
---

<Layout>
	<main class="background">
		<Header/>
		<section class="py-12 flex items-center flex-col">
			<h1 class="text-white text-7xl font-black">UN <br>LUGAR PARA LA <span class="color">FAMILIA</span></h1>
			<div class="facebook">
				<Image src={FacebookIcon} alt='icono de Facebook'>
			</div>
		</section>

		<Ubicacion/>
		<UltimaPredica/>
		<Actividades/>
	</main>
</Layout>

<style>

	.background{
		background-image: url("../img/background.png");
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 90vh;
	}

	section{
		height: 90vh;
		justify-content: space-around;
	}

	.facebook{
		bottom: 0px;
		width: 40px;
	}

	h1{
		line-height: 0.8;
		padding-left: 40px;
	}

	.color{
		color: #AFD206;
	}
</style>
