---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Ubicacion from '../components/Ubicacion.astro';
import UltimaPredica from '../components/UltimaPredica.astro';
import Actividades from '../components/Actividades.astro';
import Footer from '../components/Footer.astro'
import QuienesSomos from '../components/QuienesSomos.astro';
import Eventos from '../components/Eventos.astro';

import VideoBackground from '../videos/VideoBackground.mp4'

---

<Layout>
	<main class="background">
		
		<section class="mb-20">
			<Header/>
			<div>
				<div class="flex justify-center items-center flex-col medidas">
					<h1 class="text-white text-7xl font-bold z">UN <br>LUGAR PARA LA <span class="color font-black">FAMILIA</span></h1>
				</div>

	
				<video muted loop autoplay>
					<source src={VideoBackground} type="video/mp4">
				</video>
				<div class="capa">
	
				</div>
			</div>

		</section>
	
		<Ubicacion/>
		<UltimaPredica/>
		<Actividades/>
		<QuienesSomos/>
		<Eventos/>
		<Footer/>
	</main>
</Layout>

<style>

	main{
		background-color: black;
	}

	.z{
		width: 400px;
		position: relative;
		z-index: 2;
	}

	.medidas{
		width: 100%;
		height: 80vh;
	}

	section{
		height: 90vh;
		position: relative;
	}

	video{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.capa{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: black;

		background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
	}

	.facebook{
		bottom: 0px;
		width: 40px;
	}

	h1{
		line-height: 0.8;
		padding-left: 40px;
	}

	.color{
		color: #AFD206;
	}
</style>
