---
import Inicio from '../components/jovenes/inicio-jovenes.astro'
import Nosotros from '../components/jovenes/nosotros-jovenes.astro'
import Galeria from '../components/jovenes/galeria-jovenes.astro'
import Footer from '../components/Footer.astro'
import Eventos from '../components/jovenes/eventos-jovenes.astro'
---
<main>
  <Inicio/>
  <Nosotros/>
  <Galeria/>
  <Eventos/>
  <Footer/>
</main>